* {
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    text-align: center;
}

body, #main-container {
    min-height: 100vh;
}

header, footer {
    background-color: cornflowerblue;
}
header a:link, footer a:link, button a:link {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
img {
    width: 100%;
}

section {
    margin: 15px;
}
 #adoption-pet-queue img {
    width: 500px;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
}
button {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

.userMayAdoptMsg {
    background-color: yellow;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-fullscreen-row {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 769px){ 
    .flex-fullscreen-row{
        flex-direction: row;
    }
}