* {
    box-sizing: border-box;
}
  
html, body {
    /* height: 100%;
    min-height: 100%; */
    margin: 0;
    width: 100%;
    text-align: center;
}

div #main-container {
    min-height: 100%;
}
header, footer {
    background-color: cornflowerblue;
}
header a:link, footer a:link, button a:link {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
img {
    width: 100%;
}

section {
    margin: 15px;
}

button {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

.userMayAdoptMsg {
    background-color: yellow;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-fullscreen-row {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 769px){ 
    .flex-fullscreen-row{
        flex-direction: row;
    }
}